@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --bg-primary: rgb(0, 8, 255);
    --bg-primary: rgb(70, 75, 243);
    --bg-light: rgb(230, 230, 230);
    --title-text: #f504bd;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bg-light);
    min-height: 100vh;
    font-family: 'Lato', Sans-serif;
    width: 100%;
}

/* Display profile */
.display-profile {
    width: 100%;
    height: 350px;
    background-color: var(--bg-primary);
}

.profile {
    width: 100%;
    max-width: 1000px;
    /* border: 1px red solid; */
    height: 100%;
    padding: 20px;
}

.profile-details {
    color: white;
    animation: slideInFromLeft 1.5s ease-in;
}

.socials {
    margin: 5px 0;
}

.socials i {
    margin-right: 5px;
}

.email-text, .phone-text {
    padding-left: 3px;
}

.email, .phone {
    /* font-size: small; */
    padding: 3px;
}

.profile-image {
    justify-self: flex-end;
    animation: slideInFromRight 1.5s ease-in;
}

.profile-image img {
    width: 180px;
    border-radius: 50%;
}

/* Main */


.about-me p {
    line-height: 1.5rem;
}

/* .about-me {
    animation: slideInFromBottom 1.5s ease-in;
    animation-delay: 0.5s;
}

.work-experiences {
    animation: slideInFromBottom 1.5s ease-in;
    animation-delay: 1s;
}

.projects {
    animation: slideInFromBottom 1.5s ease-in;
    animation-delay: 1.5s;
} */





/* Utility classes */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.container {
    width: 100%;
    max-width: 1000px;
    /* border: 1px solid green; */
    margin: 20px auto;
}

.card {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.card-title {
    color: var(--bg-primary);
    margin-bottom: 10px;
    /* border-bottom: 5px solid var(--bg-primary); */
    display: inline-block;
}

.work-experience {
    padding-bottom: 30px;
}

.work-experience > div:first-child {
    margin-top: 10px;
}

.work-experience-title p {
    display: inline-block;
}

.company {
    color: var(--title-text);
    font-weight: bold;
    position: relative;
    margin-right: 15px;
    padding-right: 3px;
}

.company::after {
    content: '---';
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    
}

.role {
    font-style: italic;
}

.work-experience-duties {
    margin: 10px 50px;
    line-height: 1.5rem;
}

.project {
    margin-bottom: 30px;
}

.project-title {
    margin: 10px 0;
    font-weight: bold;
    color: var(--title-text);
    font-size: 1.3rem;
}

.project-details p {
    line-height: 1.5rem;
}

/* Responsive Design */

@media (max-width: 768px) {

        .profile {
            text-align: center;
        }

        .profile-details {
            animation: slideInFromTop 1s ease-in;
        }

        .profile-lead-text {
            font-size: 1.2rem;
        }

        
        .profile-image {
            justify-self: center;
            animation: slideInFromBottom 1s ease-in;
        }
            
        .grid {
            grid-template-columns: 1fr;
        }

        .work-experience-duties {
            margin: 10px;
        }

        .company::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(100%);
            
        }

    /* about me */
    .about-me {
        border-radius: 0;
    }
}


/* Animation */

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}